In [3]:
import pandas as pd
import numpy as np

In [9]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 9.6 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: setuptools in c:\users\saishree\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\saishree\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\saishree\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saishree\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\saishree\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [5]:
df=pd.read_csv('Titanic.csv')

In [7]:
df.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

# Encoding

In [8]:
data=pd.get_dummies(df)
data

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0,0,1
2197,0,0,0,1,1,0,1,0,0,1
2198,0,0,0,1,1,0,1,0,0,1
2199,0,0,0,1,1,0,1,0,0,1
2200,0,0,0,1,1,0,1,0,0,1

In [10]:
from mlxtend.frequent_patterns import apriori,association_rules

In [12]:
score=apriori(data,min_support=0.2,use_colnames=True)
score

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.213539                                    (Gender_Female)
3   0.786461                                      (Gender_Male)
4   0.950477                                        (Age_Adult)
5   0.676965                                      (Survived_No)
6   0.323035                                     (Survived_Yes)
7   0.231713                           (Gender_Male, Class_3rd)
8   0.284871                             (Age_Adult, Class_3rd)
9   0.239891                           (Class_3rd, Survived_No)
10  0.391640                          (Gender_Male, Class_Crew)
11  0.402090                            (Class_Crew, Age_Adult)
12  0.305770                          (Class_Crew, Survived_No)
13  0.757383                           (Gender_Male, Age_Adult)
14  0.619718                         (Gender_Male, Survived_No)
15  0.653339                           (Age_Adult, Survived_No)
16  0.297138                          (Age_Adult, Survived_Yes)
17  0.209905                (Gender_Male, Age_Adult, Class_3rd)
18  0.216265                (Age_Adult, Class_3rd, Survived_No)
19  0.391640               (Gender_Male, Class_Crew, Age_Adult)
20  0.304407             (Gender_Male, Class_Crew, Survived_No)
21  0.305770               (Class_Crew, Survived_No, Age_Adult)
22  0.603816              (Gender_Male, Age_Adult, Survived_No)
23  0.304407  (Gender_Male, Class_Crew, Survived_No, Age_Adult)

In [13]:
model=association_rules(score,metric='lift')

In [14]:
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gender_Male),(Class_3rd),0.786461,0.320763,0.231713,0.294627,0.918520,-0.020555,0.962947
1,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177
2,(Age_Adult),(Class_3rd),0.950477,0.320763,0.284871,0.299713,0.934375,-0.020008,0.969941
3,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
...,...,...,...,...,...,...,...,...,...
65,"(Age_Adult, Survived_No)","(Gender_Male, Class_Crew)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
66,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
67,(Class_Crew),"(Gender_Male, Age_Adult, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
68,(Survived_No),"(Gender_Male, Class_Crew, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
69,(Age_Adult),"(Gender_Male, Class_Crew, Survived_No)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334

In [15]:
model[model['lift']>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
5,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
6,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
7,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
8,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
9,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
10,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
11,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
12,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
13,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
14,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
15,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
16,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
17,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
26,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
27,"(Age_Adult, Survived_No)",(Class_3rd),0.653339,0.320763,0.216265,0.331015,1.031961,0.006698,1.015325
30,(Class_3rd),"(Age_Adult, Survived_No)",0.320763,0.653339,0.216265,0.674221,1.031961,0.006698,1.064097
31,(Survived_No),"(Age_Adult, Class_3rd)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
32,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
33,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
34,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
35,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
36,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
37,(Age_Adult),"(Gender_Male, Class_Crew)",0.950477,0.391640,0.391640,0.412046,1.052103,0.019395,1.034706
38,"(Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
39,"(Gender_Male, Survived_No)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
40,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
41,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
42,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
43,(Survived_No),"(Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
44,"(Class_Crew, Survived_No)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
45,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
46,"(Age_Adult, Survived_No)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
47,(Class_Crew),"(Age_Adult, Survived_No)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
48,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
49,(Age_Adult),"(Class_Crew, Survived_No)",0.950477,0.305770,0.305770,0.321702,1.052103,0.015143,1.023488
50,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
51,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
52,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
53,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
54,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
55,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
56,"(Gender_Male, Class_Crew, Survived_No)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
57,"(Gender_Male, Class_Crew, Age_Adult)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
58,"(Gender_Male, Age_Adult, Survived_No)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
59,"(Class_Crew, Survived_No, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
60,"(Gender_Male, Class_Crew)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
61,"(Gender_Male, Survived_No)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
62,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
63,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
64,"(Class_Crew, Age_Adult)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
65,"(Age_Adult, Survived_No)","(Gender_Male, Class_Crew)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
66,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
67,(Class_Crew),"(Gender_Male, Age_Adult, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
68,(Survived_No),"(Gender_Male, Class_Crew, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
69,(Age_Adult),"(Gender_Male, Class_Crew, Survived_No)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334

# Market Basket Analysis
Measures for Association rules:
1. Support

This measure gives an idea of how frequent an itemset is in all the transactions.
Support.webp

2. Confidence

This measure defines the likeliness of occurrence of consequent on the cart given that the cart already has the antecedents.
Confidence.webp

3. Lift

Lift measures the correlation/dependence between item sets. For the rule A → B, we want to investigate whether the item sets A and B are correlated.
Lift.webp

In [12]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [6]:
df=pd.read_csv('Supermarket.csv',index_col=0)

In [7]:
df.head()

                   Products
ID
1        Milk, bread, sauce
2   Milk, Tea powder, bread
3        Bread, Jam, Butter
4             Bread, Butter
5              Maggie,Sauce

In [8]:
def split(text):
    return text.split(',')

In [9]:
a='jam,butter,maggie'
split(a)

['jam', 'butter', 'maggie']

In [10]:
data=list(df['Products'].apply (split))
data

[['Milk', ' bread', ' sauce'],
 ['Milk', ' Tea powder', ' bread'],
 ['Bread', ' Jam', ' Butter'],
 ['Bread', ' Butter'],
 ['Maggie', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Peanut butter', ' Bread'],
 ['Coffee', ' Sugar', ' Milk'],
 ['Coffee', 'Milk'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Bread', ' Jam', ' Butter'],
 ['Butter', 'Cheese'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Bread '],
 ['Bread', ' Torch', 'Jam'],
 ['Bread', ' Jam', ' Butter'],
 ['Jam', 'Butter', 'Torch'],
 ['Bread', ' Jam', ' Butter'],
 ['CornFlakes', ' Milk', ' Bread']]

In [13]:
te = TransactionEncoder()

en_df = te.fit_transform(data)

In [14]:
te.columns_

[' Bread',
 ' Butter',
 ' Jam',
 ' Milk',
 ' Sugar',
 ' Tea powder',
 ' Torch',
 ' bread',
 ' sauce',
 'Bread',
 'Bread ',
 'Butter',
 'Cheese',
 'Coffee',
 'CornFlakes',
 'Jam',
 'Maggie',
 'Milk',
 'Peanut butter',
 'Sauce',
 'Torch']

In [15]:
en_df = pd.DataFrame(en_df, columns=te.columns_)
en_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
8,False,False,False,True,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
11,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,True,False,False,True,...,False,False,False,False,True,False,False,False,False,False
16,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
18,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
19,True,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [16]:
en_df.replace(False,0,inplace=True)
en_df.replace(True,1, inplace=True)

In [17]:
en_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
11,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
16,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
18,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [18]:
score = apriori(en_df, min_support=0.2, use_colnames=True)
score

C:\Users\Saishree\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                 itemsets
0      0.25                ( Butter)
1      0.20                   ( Jam)
2      0.30                  (Bread)
3      0.25                 (Cheese)
4      0.30                 (Maggie)
5      0.25                  (Sauce)
6      0.20          ( Butter,  Jam)
7      0.25         ( Butter, Bread)
8      0.20            ( Jam, Bread)
9      0.20         (Cheese, Maggie)
10     0.20          (Cheese, Sauce)
11     0.25          (Sauce, Maggie)
12     0.20   ( Butter,  Jam, Bread)
13     0.20  (Cheese, Sauce, Maggie)

In [19]:
model = association_rules(score, metric='lift')
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Butter),( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
1,( Jam),( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
2,( Butter),(Bread),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf
3,(Bread),( Butter),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50
4,( Jam),(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
5,(Bread),( Jam),0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40
6,(Cheese),(Maggie),0.25,0.30,0.20,0.800000,2.666667,0.1250,3.50
7,(Maggie),(Cheese),0.30,0.25,0.20,0.666667,2.666667,0.1250,2.25
8,(Cheese),(Sauce),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
9,(Sauce),(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
10,(Sauce),(Maggie),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf
11,(Maggie),(Sauce),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50
12,"( Butter, Jam)",(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
13,"( Butter, Bread)",( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
14,"( Jam, Bread)",( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
15,( Butter),"( Jam, Bread)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
16,( Jam),"( Butter, Bread)",0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
17,(Bread),"( Butter, Jam)",0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40
18,"(Cheese, Sauce)",(Maggie),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
19,"(Cheese, Maggie)",(Sauce),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
20,"(Sauce, Maggie)",(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
21,(Cheese),"(Sauce, Maggie)",0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
22,(Sauce),"(Cheese, Maggie)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
23,(Maggie),"(Cheese, Sauce)",0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40